{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

{% block main %}
  <h1>High Scores</h1>
  <table class="table table-borderless" style="width:100%">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
    </thead>
  {% for user in users %}
    <tr>
      <td>0</td>
      <td>{{ user.username }}</td>
      <td>{{ user.highscore }} </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}