{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

{% block main %}
  <h1>HIGH SCORES</h1>
  <div class="table responsive">
    <table id="High Scores" class="table table-borderless" style="width:100%">
      <thead>
      <tr>
        <th>PLAYER</th>
        <th>POINTS</th>
      </tr>
      </thead>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.highscore }} </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}