{% extends "layout.html" %}

{% block title %}
    Right answer
{% endblock %}

{% block main %}
    <form action="{{ url_for('proceed') }}" method="post">
        <fieldset>
            <h1 align="center">Would you like to proceed?</h1>
            <br><br>
        </fieldset>
    </form>
    <form action="{{ url_for('pregame')  }}" method="get">
        <div class="form-group">
            <button type="submit" name="submit" class="btn btn-succes btn-lg btn-block" value="yes">Yes! Next Question!</button>
        </div>
    </form>
    <form action="{{ url_for('index')  }}" method="get">
        <div class="form-group">
            <button type="submit" name= "submit" class="btn btn-danger btn-lg btn-block" value="no">No! Return to homepage.</button>
        </div>
    </form>
{% endblock %}