{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block main %}
    <h2>No Easter Eggs here, go away.</h2>
    <form action="{{ url_for('question') }}" method="post">
        <h1 align="center">{{ vraag.question }}</h1>
        <br><br>
        <fieldset>
            <div class="form-group">
                <button type="submit" value="correct" class="btn btn-warning btn-lg btn-block" name="answer">{{ vraag.correct_answer }}</button>
                <button type="submit" value="incorrect" class="btn btn-warning btn-lg btn-block" name="answer">{{ vraag.incorrect_answer1 }}</button>
                <button type="submit" value="incorrect" class="btn btn-warning btn-lg btn-block" name="answer">{{ vraag.incorrect_answer2 }}</button>
                <button type="submit" value="incorrect" class="btn btn-warning btn-lg btn-block" name="answer">{{ vraag.incorrect_answer3 }}</button>
                <script>
                    var button = document.querySelector('button');
                    for (var i = button.children.length; i >= 0; i--) {
                        button.appendChild(button.children[Math.random() * i | 0]);
                    }
                </script>
            </div>
        </fieldset>
    </form>
{% endblock %}