{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block main %}
    <form action="{{ url_for('question') }}" method="get">
        <fieldset>
            <h1>{{ question }}</h1>
            <div class="btn-group btn-group-lg" role="group">
                <button type="submit" class="btn btn-warning">{{ incorrect_answer2 }}</button>
                <button type="submit" class="btn btn-warning">{{ incorrect_answer3 }}</button>
                <button type="submit" class="btn btn-warning">{{ incorrect_answer1 }}</button>
                <button type="submit" class="btn btn-warning">{{ correct_answer }}</button>
            </div>
            <style scoped>
                div {margin:10px;}
            </style>
        </fieldset>
    </form>
{% endblock %}