{% extends "layout.html" %}

{% block title %}
    Right answer
{% endblock %}

{% block main %}
    <form action="{{ url_for('right_answer') }}" method="get">
        <fieldset>
            <h1>You got it right! Would you like to proceed?</h1>
        </fieldset>
    </form>
    <form action="{{ url_for('pregame')  }}" method="get">
        <fieldset>
            <button type="submit">Yes!</button>
        </fieldset>
    </form>
    <form action="{{ url_for('index')  }}" method="get">
        <fieldset>
            <button type="submit">No!</button>
        </fieldset>
    </form>
