.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .white
{
    color: #FFFFFF;
}
.navbar-default .navbar-brand .babyblue1
{
    color: #00a8ff;
}
.navbar-default .navbar-brand .babyblue2
{
    color: #0097e6;
}
.navbar-default .navbar-brand .blue1
{
    color: #487eb0;
}
.navbar-default .navbar-brand .blue2
{
    color: #40739e;
}
.navbar-default .navbar-brand .navyblue1
{
    color: #273c75;
}
.navbar-default .navbar-brand .navyblue2
{
    color: #192a56;
}
.navbar-default .navbar-text
{
    color: 	#FFFAF0;
}

.navbar-default {
    background-color: #0511c2 !important;
    border-color: #414a4c !important;
    color: #FFFFFF !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th
{
   background-color: #6700ff !important;
   border-color:#8a00ff !important;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}